@import "fonts";

$primary-color: #6ab344;

.illustration {
  text-align: center;
  img,
  svg {
    height: auto;
    width: 60vw;
  }
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

.mdl-textfield {
  width: 100%;
}

.msg-box {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 15px 0;

  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 2px solid #d6e9c6;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border: 2px solid #ebccd1;
  }
}


.mdl-card__supporting-text {
  &--footer {
    color: rgba(0, 0, 0, .54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 8px 16px;
    width: 90%;
  }
}

body {
  font-family: "Roboto", "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.04em;
  color: #404040;
  padding-top: 56px;

  p {
    font-size: 16px;
    margin: 0;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.mdl-typography--text-header--section {
  color: $primary-color;
  font-size: 3rem;
  font-family: 'Rubik', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  opacity: .75;
  margin-top: 0;
  line-height: 0.8;
}

.lab {
  &-clients {
    &-section {
      ul {
        list-style: none;
        li {
          text-align: center;
        }
      }
    }
  }
}

.logo-wrapper {
  li {
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

section {
  width: 100%;
  margin: 100px auto;

  &.lab-contact-section {
    margin-bottom: 50px;
  }

  > .mdl-grid {
    max-width: 1000px;
  }

  .illustration {
      background: #F3F3F3;
      padding: 40px 0;
      margin: 40px 0
    }
}



.hidden {
  opacity: 0;
}

a img {
  border: 0;
}

::-moz-selection {
  background-color: $primary-color;
  color: #fff;
}

::selection {
  background-color: $primary-color;
  color: #fff;
}

.lab-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.lab-mobile-title {
  display: none !important;
}

.mdl-layout__drawer.is-visible {
  position: fixed;
}

.lab-logo-image {
  height: 40px;
  width: auto;
}

.lab-header {
  overflow: visible;
  background-color: white;
  display: block;
  position: fixed;
  top: 0;
}

.mdl-layout__container {
  position: relative;
}

.lab-mini-footer__section {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;

  .info {
    color: white;
    margin-top: 10px;

    span {
      margin: 0 5px;
      font-weight: normal;
    }
  }

  .link-list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
    }
  }
}

.lab-header .material-icons {
  color: #767777 !important;
}

.lab-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.lab-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.lab-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.lab-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  justify-content: flex-end;
  width: 800px;
}

.lab-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.lab-navigation .mdl-navigation__link:hover,
.lab-navigation .mdl-navigation__link.active {
  border-bottom: 4px solid #8bc34a;
}

.lab-drawer {
  border-right: none;
}

.lab-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.lab-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.lab-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.lab-drawer .mdl-layout-title {
  position: relative;
  background: $primary-color;
  height: 160px;
}

.lab-drawer .lab-logo-image {
  position: absolute;
  bottom: 16px;
  height: 50px;
}

.lab-home-section {
  position: relative;
  height: 94vh;
  width: auto;
  background: white url('../images/bg01.jpg') center center no-repeat;
  background-size: cover;
}

.lab-about-section {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.logo-font {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: white;
  font-weight: 500;

  span {
    color: $primary-color;
  }
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.lab-sub-slogan span {
  display: inline-block;
  animation: breathing 7s ease-out infinite normal 2s;
}

.lab-claim-container {
  float: left;
  padding: 100px 80px;
  margin-top: 10vh;

  h1 {
    margin-bottom: 0;
  }
}

.lab-slogan {
  font-size: 10vw;
}

.lab-sub-slogan {
  font-size: 6vw;
  padding-bottom: 14px;

}

.lab-create-character {
  font-size: 21px;
  padding-top: 400px;
}

.lab-create-character a {
  text-decoration: none;
  color: #767777;
  font-weight: 300;
}

.lab-screen-section {
  position: relative;
  padding-top: 60px;
}

.lab-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.lab-services {
  text-align: center;
}

.lab-services .lab-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.lab-image-link {
  text-decoration: none;
}

.lab-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.lab-wear .lab-screen-image {
  width: 40%;
  z-index: 1;
}

.lab-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

.lab-phone .lab-screen-image {
  width: 100%;
  z-index: 1;
}

.lab-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

.lab-tablet .lab-screen-image {
  width: 100%;
  z-index: 1;
}

.lab-tablet .lab-link {
  display: block;
  z-index: 2;
}

.lab-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

.lab-tv .lab-screen-image {
  width: 100%;
  z-index: 1;
}

.lab-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.lab-auto .lab-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.lab-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.lab-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.lab-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.lab-wear-band-text p {
  padding-top: 8px;
}

.lab-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.lab-link:hover {
  color: #7cb342 !important;
}

.lab-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.lab-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.lab-alt-link:hover {
  color: #00bfa5 !important;
}

.lab-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.lab-customized-section {
  text-align: center;
}

.lab-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.lab-customized-section-text p {
  padding-top: 16px;
}

.lab-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.lab-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.lab-more-section .lab-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.lab-card-container {
}

.lab-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.lab-card-container .mdl-card__media img {
  width: 100%;
}

.lab-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.lab-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.lab-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.lab-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.lab-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.lab-footer {
  position: relative;

  a:hover {
    color: #8bc34a;
  }
}

.lab-link-menu:hover {
  cursor: pointer;
}

.lab-title.mdl-layout-title svg {
  margin-top: 10px;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .lab-home-section {
    height: 560px;
    margin-bottom: 50px;
  }

  section {
    margin: 0 auto;
    padding: 50px 0;
  }

  .lab-claim-container {
    padding: 3vw 3vh;
    margin-top: 0;

    h1 {
      margin: 0;
    }
  }

  .illustration {
    text-align: center;
    img,
    svg {
      height: auto;
      width: 90vw;
    }
  }

  .mdl-typography--text-header--section {
    font-size: 2.2rem;
  }

  .lab-navigation-container {
    display: none;
  }

  .lab-title {
    display: none !important;
  }

  .lab-sub-slogan {
    font-size: 10vw;
    line-height: 1.4;
    padding-bottom: 0;
  }

  .lab-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 50px);
    top: 15px;
    color: $primary-color;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    width: 100px;
  }

  .lab.lab-search-box.is-focused ~ .lab-mobile-title,
  .lab-search-box.is-focused + .lab-navigation-container + .lab-mobile-title {
    opacity: 0;
  }

}

.content {
  &--services {
    i {
      margin-top: 20px;
      color: #9B9B9B;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 736px) {
  .lab-claim-container {
    padding: 3vw 3vh;
    margin-top: 5vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .lab-sub-slogan {
    font-size: 10vw;
  }
}

@media screen and (min-width: 901px) {
  .mdl-layout__header .mdl-layout__drawer-button {
    display: none;
  }
}
