body, h1, html {
  font-weight: 400;
}

.mdl-layout, .mdl-layout__drawer {
  -webkit-box-direction: normal;
  height: 100%;
}

body {
  width: 100%;
}

html {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-family: Helvetica,Arial,sans-serif;
}

@-webkit-keyframes breathing {
  0%,60%,to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}


@keyframes breathing {
  0%,60%,to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}


.mdl-layout-title, h1 {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

img, svg {
  vertical-align: middle;
}

.hidden {
  display: none !important;
}

body, html {
  font-size: 14px;
  line-height: 20px;
}

body {
  min-height: 100%;
}

main {
  display: block;
}

h1 {
  padding: 0;
  line-height: 1.35;
  letter-spacing: -.02em;
  font-size: 56px;
  margin: 24px 0;
}

.logo-font {
  font-weight: 500;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.mdl-typography--text-uppercase {
  text-transform: uppercase;
}

.mdl-navigation {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mdl-navigation__link {
  color: #424242;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: .87;
}

.mdl-layout {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.mdl-layout-title {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mdl-layout__drawer, .mdl-layout__header {
  -webkit-box-orient: vertical;
  -webkit-box-sizing: border-box;
}

.mdl-layout-spacer {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.mdl-layout__drawer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 240px;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
  > {
    * {
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }
    .mdl-layout-title {
      line-height: 64px;
      padding-left: 40px;
    }
  }
  .mdl-navigation {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding-top: 16px;
    .mdl-navigation__link {
      display: block;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      padding: 16px 40px;
      margin: 0;
      color: #757575;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer > .mdl-layout-title {
    line-height: 56px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 16px;
  }
}

.mdl-layout__header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  background-color: #3f51b5;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-layout__header-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  margin: 0;
  .mdl-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    min-height: 56px;
    display: none;
  }
  .mdl-layout--fixed-header > .mdl-layout__header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
}

.mdl-layout__header--waterfall {
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}

.mdl-layout__header-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  height: 64px;
  padding: 0 40px 0 80px;
  > * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .mdl-navigation {
    padding: 0;
    height: 64px;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .mdl-navigation__link {
    display: block;
    color: #fff;
    line-height: 64px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1025px) {
  .mdl-layout--no-desktop-drawer-button .mdl-layout__header-row {
    padding-left: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 72px;
  }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    .mdl-navigation {
      height: 56px;
    }
    .mdl-navigation__link {
      line-height: 56px;
      padding: 0 16px;
    }
  }
}

.mdl-layout__content {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue","Calibri Light",Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .04em;
  color: #404040;
  padding-top: 56px;
}

.hidden {
  opacity: 0;
}

.lab-mobile-title {
  display: none !important;
}

.lab-logo-image {
  height: 40px;
  width: auto;
}

.lab-header {
  overflow: visible;
  background-color: #fff;
  display: block;
  position: fixed;
  top: 0;
  .mdl-navigation__link {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
  }
}

.lab-navigation-container {
  direction: rtl;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
}

.lab-navigation {
  direction: ltr;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
  .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }
}

.lab-drawer {
  border-right: none;
}

.lab-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.lab-drawer {
  .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }
  .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }
  .lab-logo-image {
    position: absolute;
    bottom: 16px;
    height: 50px;
  }
}

.lab-home-section {
  position: relative;
  height: 94vh;
  width: auto;
  background: url(../images/bg01.jpg) center center no-repeat #fff;
  background-size: cover;
}

.logo-font {
  font-family: Rubik,sans-serif;
  line-height: 1;
  color: #fff;
  span {
    color: #6ab344;
  }
}

.lab-sub-slogan span {
  display: inline-block;
  -webkit-animation: breathing 7s ease-out infinite normal 2s;
  animation: breathing 7s ease-out infinite normal 2s;
}

.lab-claim-container {
  float: left;
  padding: 100px 80px;
  margin-top: 10vh;
  h1 {
    margin-bottom: 0;
  }
}

.lab-sub-slogan {
  font-size: 6vw;
  padding-bottom: 14px;
}

.lab-title.mdl-layout-title svg {
  margin-top: 10px;
}

@media (max-width: 900px) {
  .lab-home-section {
    height: 560px;
    margin-bottom: 50px;
  }
  .lab-claim-container {
    padding: 3vw 3vh;
    margin-top: 0;
    h1 {
      margin: 0;
    }
  }
  .lab-navigation-container {
    display: none;
  }
  .lab-title {
    display: none !important;
  }
  .lab-sub-slogan {
    font-size: 10vw;
    line-height: 1.4;
    padding-bottom: 0;
  }
  .lab-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 50px);
    top: 15px;
    color: #6ab344;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    width: 100px;
  }
}

@media only screen and (max-width: 736px) {
  .lab-claim-container {
    padding: 3vw 3vh;
    margin-top: 5vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .lab-sub-slogan {
    font-size: 10vw;
  }
}
